{% extends 'app/base.html' %}
{% load static %}
{%block title  %}About us{% endblock title%}

{% block banned_slider %}
<div class="row featurette mt-4 justify-content-center">
    <div class="col-md-7" style="width: 480px; margin-left: 52px">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It'll blow your mind.</span>
        </h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
            semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
            commodo.</p>
    </div>
    <div class="col-md-5 d-flex">
        <img class="featurette-image img-fluid mx-auto" src="{% static 'app/images/29118.jpg' %}" width="300px"
             height="200px" alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette mt-4 justify-content-center">
    <div class="col-md-7 order-md-2" style="width: 480px; margin-right: 52px">
        <h2 class="featurette-heading">Oh yeah, it's that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
            semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
            commodo.</p>
    </div>
    <div class="col-md-5 order-md-1 d-flex">
        <img class="featurette-image img-fluid mx-auto" src="{% static 'app/images/44063.jpg' %}" width="300px"
             height="200px" alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

<div class="row featurette mt-4 justify-content-center">
    <div class="col-md-7" style="width: 480px; margin-left: 52px">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">Donec ullamcorper nulla non metus auctor fringilla. Vestibulum id ligula porta felis euismod
            semper. Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus
            commodo.</p>
    </div>
    <div class="col-md-5 d-flex">
        <img class="featurette-image img-fluid mx-auto" src="{% static 'app/images/2.jpg' %}" width="300px"
             height="200px" alt="Generic placeholder image">
    </div>
</div>

<hr class="featurette-divider">

{% endblock banned_slider %}
{% block main_content %}
<div class="container marketing">

    <div class="row">
        <div class="col-lg-4">
            <img class="rounded-circle" src="{% static 'app/images/29118.jpg' %}" alt="Generic placeholder image"
                 width="140" height="140">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Etiam porta sem malesuada magna mollis euismod. Nullam id dolor id nibh ultricies
                vehicula ut id elit. Morbi leo risus, porta ac consectetur ac, vestibulum at eros. Praesent commodo
                cursus magna.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <img class="rounded-circle" src="{% static 'app/images/2.jpg' %}" alt="Generic placeholder image"
                 width="140" height="140">
            <h2>Heading</h2>
            <p>Duis mollis, est non commodo luctus, nisi erat porttitor ligula, eget lacinia odio sem nec elit. Cras
                mattis consectetur purus sit amet fermentum. Fusce dapibus, tellus ac cursus commodo, tortor mauris
                condimentum nibh.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <img class="rounded-circle" src="{% static 'app/images/44063.jpg' %}" alt="Generic placeholder image"
                 width="140" height="140">
            <h2>Heading</h2>
            <p>Donec sed odio dui. Cras justo odio, dapibus ac facilisis in, egestas eget quam. Vestibulum id ligula
                porta felis euismod semper. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut
                fermentum massa justo sit amet risus.</p>
            <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>

        </div>
    </div>
    <hr class="featurette-divider">

    <div class="container mt-3">
        <h2 class="text-center">Our Contacts</h2>
        <div class="row container">
            <p class="fs-4 text-center">Address: Studentska 1770/1</p>
            <p class="fs-4 text-center">Phone number: +420 777 555 444</p>
            <p class="fs-4 text-center">Email: yer0013@vsb.cz</p>
        </div>
        <br>
        <br>
    </div>
</div>
{% endblock main_content %}