{% extends 'app/base.html' %}
{% load static %}
{% block title %}Cart{% endblock title %}
{% block main_content %}
<div class="container my-5">
    {% if cart %}
    <h1 class="text-center mb-5">Shopping Cart</h1>
    <div class="col-sm-8">
        <div class="card bg-light text-center p-5 border-bottom shadow">
            <div class="card-body">
                <h3>Cart</h3>
                {% for item in cart %}
                <div class="row">
                    <div class="col-sm-3 text-center align-self-center"><img src="{{item.product.image.url}}" alt=""
                                                                             srcset=""
                                                                             class="img-fluid img-thumbnail shadow-sm"
                                                                             height="150" width="150"></div>
                    <div class="col-sm-9">
                        <div>
                            <h5>{{item.product.title}}</h5>
                            <p class="mb-2 text-muted small">{{item.product.description}}</p>
                            <div class="my-3">
                                <label for="quantity">Quantity:</label>
                                <span id="quantity">{{item.quantity}}</span>
                            </div>
                            <div class="d-flex justify-content-between">
                                <p class="mb-0"><span><strong>CZK {{item.product.discount}}</strong></span></p>
                            </div>
                        </div>
                    </div>
                </div>
                <hr class="text-muted">
                {% endfor %}
            </div>
        </div>
    </div>
    <br>
    <div class="col-sm-4 bg-light">
        <div class="card bg-light text-center p-5 border-bottom shadow">
            <div class="card-body bg-light">
                <h3>The Total Amount of</h3>
                <ul class="list-group bg-light">
                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 pb-0 bg-light">
                        Amount<span id="amount">CZK {{amount}}</span></li>
                    <li class="list-group-item d-flex justify-content-between align-items-center px-0 bg-light">Shipping<span>CZK 40.00</span>
                    </li>
                    <li class="list-group-item d-flex justify-content-between align-items-center border-0 px-0 mb-3 bg-light">
                        <div>
                            <strong>Total</strong> <small>(including GST)</small>
                        </div>
                        <span id="total_amount"><strong>CZK {{total_amount}}</strong></span>
                    </li>
                </ul>
                <div class="d-grid"><a href="{% url 'checkout' %}" class="btn btn-primary">Place Order</a></div>
            </div>
        </div>
    </div>
    {% else %}
    <h1 class="text-center mb-5">Cart is Empty</h1>
    {% endif %}
</div>

{% endblock main_content %}
