<!DOCTYPE html>

{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">

    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">

    <link rel="stylesheet" href="{% static 'app/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/all.min.css' %}">
    <link rel="stylesheet" href="{% static 'app/css/style.css' %}">
    <script src="https://checkout.razorpay.com/v1/checkout.js"></script>


    <title>Rozetka | {% block title %}{% endblock title%}</title>
</head>
<body>
<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link navbar-brand" aria-current="page" href="{% url 'home' %}">ElectroMart</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'about' %}">About us</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Catalog
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'category' 'PH' %}">Phones</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'TA' %}">Tablets</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'TV' %}">Tv's</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'PC' %}">PC's</a></li>
                        <li><a class="dropdown-item" href="{% url 'category' 'WS' %}">Watches</a></li>
                    </ul>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
                       aria-expanded="false">
                        Account
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" href="{% url 'profile' %}">My profile</a></li>
                        <li><a class="dropdown-item" href="{% url 'orders' %}">My orders</a></li>
                        <li><a class="dropdown-item" href="{% url 'passwordchange' %}">Change password</a></li>
                        <li><a class="dropdown-item" href="{% url 'logout' %}">Log Out</a></li>
                    </ul>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link text-black" href="{% url 'show_wishlist' %}"><span class="badge bg-danger"></span><i
                            class="fa fa-heart"></i></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'showcart' %}">Cart</a>
                </li>
            </ul>


            <form class="d-flex" role="search" action="/search">
                <input class="form-control rounded" type="search" placeholder="Search" name="search" aria-label="Search">
                <button class="btn btn-outline-primary" type="submit">Search</button>
            </form>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{% url 'login' %}">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" aria-current="page" href="{% url 'customerregistration'%}">Registrate</a>
                </li>

            </ul>
        </div>
    </div>
</nav>

{% block banned_slider %}{% endblock banned_slider %}
{% block info %}{% endblock info %}
{% block main_content %}{% endblock main_content %}
{% block payment-getaway %}{% endblock payment-getaway %}

<footer class="container-fluid bg-light text-center p-2 mt-5 fixed-bottom">
    Copyright : 2023 || Developed by : Yeromenko Maksym | YER0013
</footer>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.7/dist/umd/popper.min.js" integrity="sha384-zYPOMqeu1DAVkHiLqWBUTcbYfZ8osu1Nd6Z89ify25QV9guujx43ITvfi12/QExE" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.min.js" integrity="sha384-Y4oOpwW3duJdCWv5ly8SCFYWqFDsfob/3GkgExXKV4idmbt98QcxXYs9UoXAB7BZ" crossorigin="anonymous"></script>

<script src="{% static 'app/js/owl.carousel.min.js'%}"></script>
<script src="{% static 'app/js/myscript.js'%}"></script>
<script src="{% static 'app/js/all.min.js'%}"></script>
</body>
</html>