{% extends 'app/base.html' %}
{% load static %}
{%block title  %}Category{% endblock title%}

{% block main_content %}
  <div class="container my-5">
      <div class="row">
          <div class="col-sm-3">
              <div class="list-group">
                  {% for val in title %}
                  <a href="{% url 'category-title' val.title %}" class="list-group-item list-group-item-action" aria-current="true"> {{val.title}}</a>
              {% endfor %}
              </div>
          </div>
          <div class="col-sm-9">
                <div class="row">
                    {% for prod in product %}
                        <div class="col text-center mb-4">
                            <a href="{% url  'product-detail' prod.id %}" class="btn">
                            <div>
                                <img src="{{prod.image.url}}" width="300px" height="200px" style="object-fit: contain"/>
                                <div class="fw-bold">{{prod.title}}</div>
                                <div class="fw-bold text-danger"> CZK.{{prod.discount}}/-<small class="fw-light  text-decoration-line-through">{{prod.price}}</small>
                                </div>
                            </div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
          </div>
      </div>
  </div>
{% endblock main_content %}