{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block main_content %}

<h2 class="text-center">Change Password</h2>
<div class="col-sm-9 offset-sm-1">
  <form action="" method="post" novalidate class="shadow p-5">
    {% csrf_token %}
      {% for fm in form %}
        {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small> <br>
    {% endfor %}
      <button type="submit" class="btn btn-primary">Submit</button>

          {% if form.non_field_errors %}
              {% for error in form.non_field_errors %}
                  <p class="alert alert-danger my-3">{{error}}</p>
            {% endfor %}
          {% endif %}
      </form>
      </div>
    </div>
</div>
{% endblock main_content %}

