{% extends 'app/base.html' %}
{% load static %}
{% block title %}Change Password{% endblock title %}
{% block main_content %}

<div class="container my-5">
  <div class="row">
      <h3> Welcome {{request.user.username|capfirst}}</h3>
      <div class="col-sm-2 border-end">
        <ul class="list-unstyled">
          <li class="d-grid"><a href="{% url 'profile' %}" class="btn btn-primary">Change Password Done</a></li>
        </ul>
</div>
      <div class="col-sm-9 offset-sm-1 text-center">
          <h3>Password Changed Successfully!</h3>

          <div>
             <iframe src="https://giphy.com/embed/tf9jjMcO77YzV4YPwE" width="300" height="300" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
              </div>
      </div>
  </div>
</div>
{% endblock main_content %}

