{% extends 'app/base.html' %}
{%load static %}
{% block title %}Checkout{% endblock title %}
{% block main_content %}
<div class="container">
    {%if messages %}
    {% for msg in messages %}
    <div class="alert alert-danger" role="alert">
        {{msg}}
    </div>
    {% endfor%}
    {% endif %}
    <div class="row mt-5 bg-light p-5 border-bottom shadow">
        <div class="col-sm-6">
            <h4>Order Summary</h4>
            <hr>
            {% for item in cart_items %}
            <div class="card-mb-2">
                <div class="card-body">
                    <h5>Product: {{item.product.title}}</h5>
                    <p>Quantity: {{item.quantity}}</p>
                    <p class="fw-bold">Price: {{item.product.discount}}</p>

                </div>
            </div>
            {% endfor %}
            <p class="fw-bold">Total cost + CZK 40 = {{totalamount}}</p>
        </div>

        <div class="text-center">
            <button id="rzp-button1" type="submit" class="btn btn-warning mt-3 px-5 fw-bold">Payment</button>
        </div>

    </div>
    <br>
    <br>
</div>
{% endblock main_content %}

{% block payment-getaway %}
<script src="https://checkout.razorpay.com/v1/checkout.js"></script>
<script>
    var options = {
        "key": "rzp_test_9HjkxRe87RTlle", // Enter the Key ID generated from the Dashboard
        "amount": "{{razoramount}}", // Amount is in currency subunits.
        "currency": "CZK",
        "name": "Rozetka",
        "description": "Purchase product",
        "order_id": "{{order_id}}", //This is a sample Order ID. Pass the `id` obtained in the response of Step 1
        "handler": function (response) {
            console.log("success")
            var form = document.getElementById("myform");
            //    alert(response.razorpay_payment_id);
            //   alert(response.razorpay_order_id);
            //   alert(response.razorpay_signature)
            window.location.href = 'https://localhost:8000/paymentdone?order_id=${response.razorpay_order_id}&payment_id=${response.razopay_payment_id}&cust_id=${form.elements["custid"].value'
        },

        "theme": {
            "color": "#3399cc"
        }
    };
    var rzp1 = new Razorpay(options);
    rzp1.on('payment.failed', function (response) {
        alert(response.error.description);
    });
    document.getElementById('rzp-button1').onclick = function (e) {
        console.log("button click");
        rzp1.open();
        e.preventDefault();
    }
</script>

{% endblock payment-getaway %}