{% extends 'app/base.html' %}
{% load static %}
{%block title  %}Product detail{% endblock title%}




{% block main_content %}
  <div class="container">
      <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
          <h3>Customer registration</h3>
        <hr>
          <form action="" method="post" novalidate class="shadow p-5">
            {% csrf_token %}
            {% for fm in form %}
            {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
            <br>
            {% endfor %}
            <input type="submit" value="Submit" class="btn btn-primary"> <br>
            <div class="text-center text-primary fw-bold">
              <small>Existing User ? <a href="{% url 'login' %}" | class="text-danger">Login Now</a> </small>
                </div>
              {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                    <p class="alert alert-danger my-3">{{error}}</p>
                {% endfor %}
            {% endif %}

                {% if messages %}
                {% for msg in messages %}
                    <div class="alert alert-{{msg.tags}}" role="alert">
                      {{msg}}
                    </div>
                {% endfor %}
            {% endif %}
            </form>

            </div>
      </div>
  </div>
<br>
            <br>
{% endblock main_content%}