{% extends 'app/base.html' %}
{% load static %}
{%block title  %}Product detail{% endblock title%}


{% block main_content %}
<div class="container">
    <div class="row flex justify-content-between mt-4">
        <div class="img2 col-lg-5 mt-5">
            <img src="{{product.image.url}}" class="image col-xs-6 col-sm-12 col-lg-12 mt-3 text-sm-center w-250 h-200"
                 alt="">
        </div>
        <div class="productdetail col-lg-5 bg-light p-5 border-bottom shadow">
            <h1 style="font-family: Georgia; font-size: 50px;">{{product.title }}</h1>
            <h5>CZK.{{product.discount}}/-</h5>
            <small class="text-decoration-line-through text-muted fs-5">
                <del>CZK.{{product.price}}/-</del>
            </small>
            <br><br><h4>Product Details:</h4>
            <ul class="fs-5" style="font-family: Arial;">
                <li>{{product.description}}</li>
            </ul>
            <div class="button row flex" style="font-family: Arial;">
                <form action="/add_to_cart" class="d-inline">
                    <input type="hidden" name="prod_id" value="{{product.id}}"/>
                    <button type="submit"
                            class="btn btn-secondary">Add
                        to cart
                    </button>
                </form>

                <form action="/new_wishlist" class="d-inline mt-4">
                    <input type="hidden" name="prod_id" value="{{product.id}}"/>
                    <button type="submit"
                            class="btn btn-primary">Wishlist
                    </button>
                </form>


            </div>
        </div>
    </div>
</div>
{% endblock main_content%}