{% extends 'app/base.html' %}
{% load static %}
{%block title  %}Login{% endblock title%}

{% block main_content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Login</h3>
            <hr>
            <form action="" method="post" novalidate class="shadow p-5">
                {% csrf_token %}
                {% for fm in form %}
                {{fm.label_tag}} {{fm}} <small class="text-danger">{{fm.errors|striptags}}</small>
                <br>
                {% endfor %}

                <small><a href="{% url 'password_reset' %}">Don't remember a password?</a></small>
                <br>
                <br>
                 <input type="submit" value="Submit" class="btn btn-primary"> <br>


                <div class="text-center text-primary fw-bold">
                    <small>New User ? <a href="{% url 'customerregistration' %}" class="text-danger">Create an
                        account</a> </small>
                </div>

                {% if form.non_field_errors %}
                {% for error in form.non_field_errors %}
                <p class="alert alert-danger my-3">{{error}}</p>
                {% endfor %}
                {% endif %}
            </form>

        </div>
    </div>
</div>
<br>
<br>
{% endblock main_content%}