{% extends 'app/base.html' %}
{% load static %}
{% block title %}Orders{% endblock title %}
{% block main_content %}
<div class="container my-5">
    <h2 class="text-center">Your orders</h2>

        <div class="col-sm-9 offset-sm-1">
            {% for op in order_placed %}
            <div class="row bg-light text-center p-5 border-bottom shadow">
                <div class="col-sm-2">
                    <img src="{{op.product.image.url}}" class="img-fluid" height="200" width="200"/>
                </div>
                <div class="col-sm-7">
                    <p>Product: {{op.product.title}}</p>
                    <p>Quantity: {{op.quantity}}</p>
                    <p>Price: {{op.total_cost}}</p>
                </div>
                <div class="col-sm-3">
                    <p>Order Status: {{op.status}}</p>
                    {% if op.status == 'Accepted' %}
                    <div class="progress">
                        <div class="progress-bar" role="progressbar" style="width: 20%" aria-valuenow="20"
                             aria-valuemin="0" aria-valuemax="100"></div>
                    </div>
                </div>
                {% endif %}
                {% if op.status == 'Packed' %}
                <div class="progress">
                    <div class="progress-bar bg-info" role="progressbar" style="width: 40%" aria-valuenow="40"
                         aria-valuemin="0"
                         aria-valuemax="100"></div>
                </div>
                {% endif %}
                {% if op.status == 'On the way' %}
                <div class="progress">
                    <div class="progress-bar bg-warning" role="progressbar" style="width: 70%" aria-valuenow="70"
                         aria-valuemin="0"
                         aria-valuemax="100"></div>
                </div>
                {% endif %}
                {% if op.status == 'Delivered' %}
                <div class="progress">
                    <div class="progress-bar bg-success" role="progressbar" style="width: 100%" aria-valuenow="100"
                         aria-valuemin="0"
                         aria-valuemax="100"></div>
                </div>
                {% endif %}
                {% if op.status == 'Cancel' %}
                <div class="progress">
                    <div class="progress-bar bg-danger" role="progressbar" style="width: 70%" aria-valuenow="70"
                         aria-valuemin="0"
                         aria-valuemax="100"></div>
                </div>
                {% endif %}
            </div>

        </div>
        {% endfor %}
    </div>
</div>
</div>

{% endblock main_content %}

