{% extends 'app/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block main_content %}
<div class="container">
    <div class="row my-3">
        <div class="col-sm-6 offset-sm-3">
            <h3>Reset Password Completed!</h3>
            <hr>
            <div>
                <iframe src="https://giphy.com/embed/KBxyo8FDKE33qnj3KB" width="200" height="200" frameBorder="0" class="giphy-embed" allowFullScreen></iframe>
            </div>
        </div>
    </div>
</div>
        {% endblock main_content %}