{% extends 'app/base.html' %}
{% load static %}
{% block title %}Login{% endblock title %}
{% block main_content %}

<div class="container">
    <div class="row my-3">
        <div class="col-sm-3 offset-3">
            <h3 class="alert-heading">Well Done!</h3>
            <p> An email has been sent with instructions to reset your password <b> Please check your email</b> </p>
        </div>
    </div>
</div>


{% endblock main_content %}