{% extends 'app/base.html' %}
{% load static %}
{%block title  %}My profile{% endblock title%}

{% block main_content %}
<h2 class="text-center">Your account</h2>
<p class="text-center">Here you can change your account information</p>
<div class="col-sm-8 offset-sm-1 bg-light p-5 border-bottom shadow" >
    <form action="" method="post">
        {% csrf_token %}
        {% for fm in form %}
        {{fm.label_tag}}{{fm}} <small class="text-danger">{{fm.errors|striptags}}</small><br>
        {% endfor %}
        <div class="col-12 mt-3">
            <button type="submit" class="btn btn-primary">Submit</button>

        </div>
        {% if form.non_field_errors %}
        {% for error in form.non_field_errors %}
        <p class="alert alert-danger my-3">{{error}}</p>
        {% endfor %}
        {% endif %}

        {% if messages %}
        {% for msg in messages %}
            <div class="alert alert-{{msg.tags}}" role="alert">
                {{msg}}
            </div>

        {% endfor %}
        {% endif %}

    </form>
    <br>
        <br>
        <br>
    </div>
</div>
<br>
{% endblock main_content%}