{% extends 'app/base.html' %}
{% load static %}
{%block title  %}Search result{% endblock title%}

{% block main_content %}
<div class="container my-5">
    <div class="row">
        <div class="col-sm-8">
            <div class="row">
                {% for prod in product %}
                <div class="col-sm-4 text-center mb-4 hover-shadow">
                    <a href="{% url 'product-detail' prod.id %}" class="btn">
                        <div>
                            <img src="{{prod.image.url}}" width="300px" height="200px"/>
                            <div class="fw-bold">{{prod.title}}</div>
                            <div class="fw-bold text-danger">
                                CZK.{{prod.discount}}/-
                                <small class="fw-light text-decoration-line-through">{{prod.price}}</small>
                            </div>
                        </div>
                    </a>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock main_content%}